.image1{
    width: 200px;
    height: 200px;
    margin-right: 150px;
}
.image2{
    width: 80%;
    height: 900px;
    
}
.image3{
    width: 35px;
    height: 35px;
}
.image4{
    width: 30px;
    height: 30px;
}
.image5{
    width: 30px;
    height: 30px;
}
.anchor1{
    font-size: 20px;
    text-decoration: none;
    margin-right: 500px;

}
.anchor2{
    font-size: 20px;
    text-decoration: none;
}
.hr{
    width: 800px;
    border-style:groove none none ;
    
}
.table1{
    margin-right: 600px;
}
.table2{
    margin-right: 230px;
}
.table3{
    margin-right: 330px;
}